@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #101010;
    --white: #FEFEFE;
    --gray: #CECECE;
    --faded-salmon: #fa807285;
    --translucent-salmon: #FA807218;
}

html {
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    background-color: var(--white);
    color: var(--black);
}

hr {
    border-width: 0 1px 1px 0;
    border-color: var(--gray);
}

svg {
    display: block;
    height: 1.75em;
}

button {
    min-width: fit-content;
    padding: .25em;
    transition: 200ms;
    color: var(--white);
    font-weight: 500;
    opacity: 80%;
    border: solid 1px salmon;
    border-radius: 100%;
    background-color: salmon;
}

button:hover {
    opacity: 100%!important;
    cursor: pointer;
    transition: 200ms;
}

header {
    display: flex;
    justify-content: space-between;
    padding: .75em 1em;
    border-bottom: solid 1px var(--gray);
}

header span#appData {
    display: flex;
    align-items: center;
    gap: .5em;
}

h1#appName {
    font-size: 1em;
    font-weight: 600;
}

svg#appIcon {
    height: 1.5em;
    color: salmon;
}

section {
    padding: 1em;
}

button#addBookToggle {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-height: 17em;
    color: salmon;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    opacity: 60%;
    border-radius: 4px;
    border: solid 1.25px salmon;
    background-color: var(--translucent-salmon);
    background-blend-mode: color-burn;
}

button#addBookToggle svg {
    height: 2em;
}

div.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #10101044;
    background-blend-mode: color-burn;
}

form.modalContent {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 1em;
    padding: 2em;
    background-color: var(--white);
    border-radius: 4px;
    border: solid 1px var(--gray);
}

form.modalContent > span {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

button.modalClose {
    background-color: transparent;
    padding: 0;
    border: none;
    color: gray;
    opacity: 50%;
}

div.modal label.floating {
    position: absolute;
    padding: 0 .2em;
    left: 0;
    color: var(--faded-salmon);
    font-weight: 500;
    border: none!important;
    background-color: var(--white);
    transform: scale(0.65) translate(0, -70%);
}

div.modal input.outline {
    width: 100%;
    padding: .75em;
    outline: none;
    color: var(--black)!important;
    border-radius: 4px;
    border: solid 2px var(--faded-salmon);
    transition: all 200ms;
}

div.modal input.outline:focus,
div.modal input.outline:focus + label.floating,
div.modal input.outline:hover,
div.modal input.outline:hover + label.floating {
    color: salmon;
    border: solid 2px salmon;
    transition: all 200ms;
}


button#bookFormSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    gap: .5em;
    border-radius: 4px;
}

button#bookFormSubmit svg {
    height: 1.25em;
}

.relative {
    position: relative;
}

label[for="searchBookTitle"] {
    position: absolute;
    padding: 0 .2em;
    top: .1em;
    left: .25em;
    color: var(--faded-salmon);
    font-weight: 500;
    border: none!important;
    background-color: var(--white);
    transform: scale(0.65) translate(-15%, -140%);
}

input#searchBookTitle {
    min-width: 20%;
    padding: .75em;
    outline: none;
    color: var(--black)!important;
    border-radius: 4px;
    border: solid 2px var(--faded-salmon);
}

input#searchBookTitle:hover,
input#searchBookTitle:focus,
input#searchBookTitle:hover + label[for=searchBookTitle],
input#searchBookTitle:focus + label[for=searchBookTitle] {
    color: salmon;
    transition: all 200ms;
    border: solid 2px salmon;
}

button#searchSubmit {
    position: absolute;
    padding: .25em;
    top: 2%;
    right: 2.5%;
    border: none;
    color: salmon;
    border-radius: 100%;
    background-color: var(--white);
}

button#searchSubmit svg {
    height: 1.25em;
}

button#searchSubmit:hover,
button#searchSubmit:focus {
    opacity: 100%;
    color: white;
    background-color: salmon;
}

div#shelves {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section.bookshelf {
    width: 100%;
}

section.bookshelf h2 {
    font-size: 1em;
    font-weight: 400;
}

div#incompleteBookList,
div#completeBookList {
    display: grid;
    gap: .5em;
    padding: .5em 0;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

div#incompleteBookList > div.book,
div#completeBookList > div.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    min-height: 14em;
    padding: 1em;
    border-radius: 4px;
    border: solid 1px var(--gray);
}

div.book span.btnWrapper {
    display: flex;
    gap: .25em;
}

@media (min-width: 1280px) {
    div#shelves {
        flex-direction: row;
    }
    
    div#incompleteBookList,
    div#completeBookList {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    div#incompleteBookList,
    div#completeBookList {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}